<section id="frontpage">
  <article id="presentation">

  <section class="media"><a class="pull-left" href="#">
      <img class="media-object" alt="identify" src="/assets/user-front.png"></a>
    <div class="media-body">
      <h3 class="media-heading">
        Hello World FI-LAB App
      </h3>
        An Empty FI-LAB App made in <a href="http://www.rubyonrails.com" target="new"><strong>Ruby on Rails</strong></a>.
     </div>
  </section>
</article>
</section>
