  <div id="container" class="container">
    <div class="wrapper">
    <div id="block" class="block">
    <div class="item" id="item1">
    <div class="content">
    <div class="padding">
      <h2>Hello, Ruby!</h2>
      <p>
        <a href="http://www.rubyonrails.com" target="new"><strong>Ruby on Rails</strong></a>, is an open source 
        full-stack web application framework for the Ruby programming language. Ruby on Rails runs on the 
        general-purpose programming language Ruby, which predates it by more than a decade. Rails is a full-stack 
        framework, meaning that it gives the web developer the ability to create pages and applications that 
        gather information from the web server, talk to or query the database, and render templates out of the 
        box. As a result, Rails features a routing system that is independent of the web server.
      </p>
      <p>
        Ruby Installer
        <em><a href="http://rubyinstaller.org/" target="_blank"> - http://rubyinstaller.org</a></em>
      </p>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>